:root {
    --darker-red: #540804;
    --red: #81171B;
    --dark-orange: #AD2E24;
    --orange: #C77146;
    --lightest-orange: #EA8C55;
    --main-bg-color: #fde0cf;
}

/* APPLY FONT FAMILY TO PAGE */
* {
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: rgb(250, 246, 240);
}

/* Navbar Styling Start */
.navbar {
    background-color: var(--orange);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.navbar a, .navbar span {
    color: white;
}
/* Navbar Styling End */

/*options-container Styling Start */
#top-column {
    background-color: rgb(252, 239, 215);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#bottom-column {
    background-color: rgb(252, 239, 215);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
/* options-container Styling End */

/* Cuisine Container Stlying Start */
.options-container {
    padding: 5%;
}

.cuisine-box {
    height: 300px;
    width: 300px;
}

/*If time provides, will find a better way for this effect with less code */
.american {
    background-color: #b1e8ff;
    transition: 0.25s;
}
.american:hover {
    background-color: #b1e8ffa1;
}
.french {
    background-color: #ffb1b1;
    transition: 0.25s;
}
.french:hover {
    background-color: #ffb1b1b9;
}
.indian {
    background-color: #fdffb1;
    transition: 0.25s;
}
.indian:hover {
    background-color: #fcffb18f;
}
.italian {
    background-color: #b1b9ff;
    transition: 0.25s;
}
.italian:hover {
    background-color: #b1b9ffb2;
}
.mexican {
    background-color: #b1ffb9;
    transition: 0.25s;
}
.mexican:hover {
    background-color: #b1ffb97c;
}
.japanese {
    background-color: #ffd7b1;
    transition: 0.25s;
}
.japanese:hover {
    background-color: #ffd7b175;
}


#cuisines {
    border-radius: 0.5rem;
    /* background-color: #fffefa; */
}

/* shadowing */
.navbar, #top-column, #bottom-column, .cuisine-box {
    box-shadow: 5px 10px 8px rgb(204, 204, 204);
}
/* Cuisine Container Styling End */

